.pages {
    font-size: 1.3rem;
    color: #0000006b;
}

.selectedPage {
    font-weight: bold;
    color: #5682a3;
}

.paginator {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.nextBtn:before {
    right: 10px;
    position: absolute;
    content: '';
    border-right: 3px solid #0000006b;
    border-bottom: 3px solid #0000006b;
    width: 24px;
    height: 24px;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
}

.prevBtn:before {
    left: 10px;
    position: absolute;
    content: '';
    border-left: 3px solid #0000006b;
    border-top: 3px solid #0000006b;
    width: 24px;
    height: 24px;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
}

@media (max-width: 1200px) {
    .paginator {
        width: 60%;

    }
}

@media (max-width: 990px) {
    .paginator {
        width: 65%;
    }
}

@media (max-width: 770px) {
    .paginator {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .paginator {
        width: 90%;
        padding: 5px;
    }
}
@media (max-width: 480px) {
    .paginator {
        width: 100%;
        padding: 5px;
    }
    .paginator span {
        margin: 6px;
    }
    .nextBtn:before {
        width: 18px;
        height: 18px;
    }

    .prevBtn:before {
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 375px) {
    .paginator span {
        margin: 3px;
    }
    .nextBtn:before {
        width: 18px;
        height: 18px;
    }

    .prevBtn:before {
        width: 18px;
        height: 18px;
    }
}

