.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    color: red;
    border: 1px solid red;


    display: inline-block;
    border-radius: 3px;
    padding: 2px;
}