.header {
    position: fixed;
    grid-area: h;
    background-color: #5682a3;
    height: 45px;
    z-index: 7;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}


.loginBlock {
    display: flex;
    margin-top: 8px;
    justify-content: flex-end;
}


.userName {
    align-self: center;
    color: #fff;
    margin-right: 50px;
    font-weight: bold;
}

.authUser {
    display: flex;
    margin-right: 25px;
}

.authUser button,
.loginBlock a {
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e7e8ec;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .1s linear,
    color .1s linear;
}

.authUser button:hover,
.loginBlock a:hover {
    background-color: rgba(137, 160, 179, 0.5);
    color: #fff;
}

.authUser button:focus,
.loginBlock a:focus {
    outline: #0000006b;
    border: 1px solid #0000006b;
}

.loginBlock a {
    display: inline-block;
    margin-right: 25px;
}

@media (max-width: 1200px) {
    .header {
        max-width: 940px;
    }
}

@media (max-width: 990px) {
    .header {
        max-width: 720px;
    }

    .userName {
        margin-right: 20px;
    }

}

@media (max-width: 770px) {
    .header {
        max-width: none;
    }
}