.description {
    padding: 10px;
}

.mainPhoto {
    max-width: 300px;
}

.contact {
    padding-left: 10px;
}

.profileDataForm {
    opacity: 0;
    transition: 1s;
    animation: show 2s 1;
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.1s; /* Задержка перед началом */
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profileData {
    opacity: 0;
    transition: 1s;
    animation: show2 2s 1;
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.1s; /* Задержка перед началом */
}

@keyframes show2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.contactsMenu:after {
    content: '';
    width: 25px;
    height: 25px;
    color: white;
    display: block;
    border: 2px solid black;
    cursor: pointer;
}

.passive {
    font-size: 45px;
}

.active {
    font-size: 25px;
}