.loginPage {
    display: grid;
    grid-template-areas: 'f i';

    grid-template-columns: 4fr 8fr;
    gap: 20px;
}

.loginForm {
    background-color: #fff;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 5px;
    grid-area: f;
}

.loginForm form {
    position: relative;
}

.loginTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.loginForm button {
    display: block;
    position: absolute;
    right: 0;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e7e8ec;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .1s linear,
    color .1s linear;
}

.loginForm button:hover {
    background-color: rgba(137, 160, 179, 0.5);
    color: #fff;
}

.loginForm button:focus {
    outline: #0000006b;
    border: 1px solid #0000006b;
}

.siteInfo {
    background-color: #fff;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 5px;
    grid-area: i;
}

.loginPage a {
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: rgba(137, 160, 179, 0.5);
    transition: color .1s linear,
    border .1s linear;
}

.loginPage a:hover {
    color: #5682a3;
    border-color: #5682a3;;
}


.loginForm input {
    width: 250px;
    border-radius: 3px;
    border: 1px solid #e7e8ec;
    font-size: 1rem;
    margin-bottom: 5px;
}

.loginForm input[name="rememberMe"] {
    width: 0.9rem;
}

.loginForm form div:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.loginForm :nth-child(3) span {
    display: block;
    font-size: 1rem;
}

.loginForm input:focus {
    outline: #0000006b;
    border: 1px solid #0000006b;
}

.loginForm a {
    margin-top: 15px;
}

.authorInfo {
    margin-bottom: 15px;
}

.contactsTitle {
    margin-bottom: 15px;
}

.contactsTitle:before {
    content: '';
    color: white;
    display: block;
    border: 1px solid #e7e8ec;
    margin-bottom: 5px;
}

.contacts {
    text-align: initial;
}

.gitHub {
    display: flex;
}

.gmail {
    display: flex;
}

.telNum {
    display: flex;
}

.contactName {
    color: #0000006b;
    width: 35%;
    margin-bottom: 15px;
}
@media (max-width: 770px) {
    .loginPage {
        grid-template-areas: 'f f' 'i i';
    }

    .loginForm input {
        width: 100%;

    }
}


@media (max-width: 575px) {

}
