body, html {
    width: 100%;
    height: 100%;
    background-color: #edeef0;
}

textarea {
    resize: none;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 100vh;
    position: relative;

    grid-template-areas: 'h h' 'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 15fr;
}

.app-wrapper__content {
    position: relative;
    grid-area: c;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(137, 160, 179, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5682a3;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
}