.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-areas: 'd c';
    height: 100vh;
    padding-top: 60px;
    margin-top: -60px;
    padding-bottom: 20px;
}

.dialogs__item {
    overflow: auto;
    grid-area: d;
    background-color: #fff;
}

.dialogs__item a {
    color: black;
    text-decoration: none;
}

.dialog {
    color: #0000006b;
    display: grid;
    grid-template-columns: 4fr 8fr;
    position: relative;
    padding: 10px;
    transition: color .1s linear,
    background-color .1s linear;
    grid-template-areas: 'i d';
}


.dialogInfo {
    grid-area: d;
}

.dialogInfo a {
    position: absolute; /* 2 */
    top: 50%;
    transform: translateY(-50%);
}

.dialog:hover {
    color: #fff;
    background-color: #5682a3;
}

.dialogName {
    color: black;
    font-size: 1rem;
    transition: color .1s linear;
}

.dialogName:after {
    content: '';
    display: block;
    border: 1px solid #e7e8ec !important;
}

.dialog:hover .dialogName {
    color: #fff;
}

.activeLink .dialog {
    background-color: #5682a3;
}

.activeLink .lastUserActivityDate {
    color: #fff;
}

.activeLink .lastDialogActivityDate {
    color: #fff;
}

.activeLink .dialogName {
    color: #fff;
}

.activeLink .dialogName:after {
    content: '';
    color: white;
    display: block;
    border: 1px solid #e7e8ec;
}


.lastDialogActivityDate {
    font-size: 0.6rem;
    font-style: italic;
}

.lastUserActivityDate {
    font-size: 0.6rem;
    font-style: italic;
}

.dialogImg {
    width: 60px;
    grid-area: i;
    border-radius: 50%;
    transition: filter .1s linear;
}

.dialogImg:hover {
    filter: opacity(.5) drop-shadow(0 0 0 #1d5d90);
}


.messages {
    padding: 10px;
}

.message {
    color: #fff;
}

.post {
    margin-top: 20px;
}
